<span>Equation: </span>
<input id="user-equation-{{id}}" class="textfield" value="3x + 12 + 2x = 8x" maxlength="25"><br>
<ul id="instructions">
    <li>Operators: +, -</li>
    <li>Variables: x</li>
    <li>Constants and coefficents: Integers</li>
</ul>
<span class="error-container"></span>
<br>
<table>
    <tbody id="workspacebody-{{id}}">
        <tr><td><button id="begin-solving-button-{{id}}" class="button">Begin solving</button></td></tr>
    </tbody>
</table>
<br>
<button class="start-new-equation button" id="new-equation-{{id}}">Start new equation</button>

