<table>
    <tr>
        <td>
            <div class='graph-container'>
                <div id='complexityCheckboxGraph_{{id}}' class='graph'></div>
                <div class='helper-text'>Select function(s) on the right.</div>
            </div>
        </td>
        <td>
            <form>
                <label><input type='checkbox' class='complexityCheckbox' value='Oof1' checked>1<br></label>
                <label><input type='checkbox' class='complexityCheckbox' value='OofLogN' checked>log n<br></label>
                <label><input type='checkbox' class='complexityCheckbox' value='OofN'>n<br></label>
                <label><input type='checkbox' class='complexityCheckbox' value='OofNLogN'>n * log n<br></label>
                <label><input type='checkbox' class='complexityCheckbox' value='OofNSqrd'>n^2<br></label>
                <label><input type='checkbox' class='complexityCheckbox' value='Oof2ToTheN'>2^n<br></label>
                <label><input type='checkbox' class='complexityCheckbox' value='OofNFctrl'>n!</label>
            </form>
        </td>
    </tr>
</table>