<div class="expression-area">
    <table>
        <tr>
            <td class="left-hand-side-of-equation">
                <div class="numerator"></div>
                <div class="denominator"></div>
            </td>
            <td class="left-hand-side-of-equation-operator-symbol">
                <div class="operator-symbol"></div>
            </td>
            <td class="left-hand-side-of-equation-second-expression">
                <div class="numerator"></div>
                <div class="denominator"></div>
            </td>
            <td class="equal-sign middle-of-equation">=</td>
            <td class="middle-of-equation">
                <div class="numerator"></div>
                <div class="denominator"></div>
            </div>
            <td class="equal-sign">=</td>
            <td class="right-hand-side-of-equation">
                <div class="numerator"><input type="text" size="10" maxlength="10" class="numerator-input"/></div>
                <div class="denominator"><input type="text" size="10" maxlength="10" class="denominator-input"/></div>
            </div>
        </tr>
    </table>
</div>