{{!
    Append to end of explanation to show difference between the user and expected answer.
    
    Input:
        * expectedAnswer: Required string that is the expected answer.
}}
<div></div>
<div class='user-and-expected-answer'>
    <table>
        <tbody>
            <tr>
                <td>Your answer:</td>
                <td>USER_ANSWER</td>
            </tr>
            <tr>
                <td>Expected answer:</td>
                <td>{{expectedAnswer}}</td>
            </tr>
        </tbody>
    </table>
</div>