<div class='prompt-container reset-prompt'>
    <div class='prompt-message-container'>
        <div class='prompt-text'>Reset this activity?</div>
        <button class='cancel-button button'>Cancel</button>
        <button class='confirm-reset-button button'>Confirm</button>
    </div>
</div>

<button class='reset-html button'>Reset</button>

<table class='html-viewer-table'>
    <tbody>
        {{{htmlViewerTableHTML}}}
    </tbody>
</table>

<button class='render-html button'>Render HTML</button>