<tr>
    <td>
        <div class='label'>Type HTML below</div>
        <textarea cols='50' rows='20' class='user-html'>{{html}}</textarea>
    </td>
    <td>
        <div class='label'>Rendered HTML</div>
        <iframe class='user-rendered-html'></iframe>
    </td>
</tr>