<div class='middle-container'>
    <div class='truth-table-container'></div>
    <div class='equation'>
        <span class='equation-field-label'><span class='y-label-text'></span> =</span>
        <input type='text'></input>
    </div>
</div>