<input class='file-name' type='text' value='{{filename}}'>
<button class='save zb-button'>
    <i aria-hidden='true' class='zb-icon green material-icons med'>check</i>
</button>
<button class='cancel zb-button'>
    <i aria-hidden='true' class='zb-icon red material-icons med'>clear</i>
</button>
