{{! The left sidebar that contains the global code, the list of levels, and files in each level. }}
<button class='edit-global-code zb-button'>
    <i aria-hidden='true' class='zb-icon material-icons med'>code</i>
    <span class='title'>Edit global code</span>
</button>
<button class='add-level-container zb-button'>
    <i aria-hidden='true' class='zb-icon material-icons med'>add</i>
    <span class='title'>Add level</span>
</button>
<div>Note: The main file will be the first file of each level. Ex:
    <span class='note-example'>main.cpp</span>
    in level 1.
</div>
