<div class='level-content-container'>
    <div>
        <div class='container code-editors-container'>
            <h3>Code</h3>
        </div>

        <div class='container parameter-editors-container'>
            <div class='header-container'>
                <h3>Level code <i class='zb-icon secondary material-icons med parameters-info'>info</i></h3>
                <div id='{{segmentedControlId}}' class='segmented-control'></div>
            </div>
        </div>

        <div class='container'>
            <h3>Explanation</h3>
            <textarea class='explanation zb-text-area' rows='3' placeholder='Enter the explanation for the level here'></textarea>
        </div>
    </div>

    <div class='input'>
        <h3>Input</h3>
        <textarea class='input zb-text-area' rows='7' placeholder='Optional'></textarea>
    </div>
</div>
