<div class="factor-area">
    <div class="expression-to-factor-area">
        <span class="expression-to-factor"></span>
        <span class="factoring-hint"></span>
    </div>
    <div class="button factored-option factored-option-1"></div>
    <div class="button factored-option factored-option-2"></div>
    <div class="button factored-option factored-option-3"></div>
</div>