{{!
    Render the numerical input component.
    @param {String} isEditable Whether the component is editable.
}}
<div class='variable-or-IO-label'>Input</div>
<div class='numerical-input' contenteditable='{{isEditable}}'></div>