<p class='instructions'></p>
<div class='task-banks-container unselectable'></div>
<div class='task-order-container unselectable'></div>
<div class='timeline-container'>
    <div class='timeline'>
        <div class='line'></div>
        <div class='triangle'></div>
        <div class='label'>Time</div>
    </div>
</div>