<p class='statement'></p>
<table class='quantifier-container'>
    <tbody>
        <tr>
            <td>
                <span class='x-mark'>&#x2716;</span>
                <img class='checkmark' src='{{checkmarkURL}}'></img>
            </td>
            <td>
                <div id='segmented-control-{{id}}' class='true-or-false-segmented-control'></div>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
<div class='hint'></div>
<div class='table-container'>
    <div class='table'></div>
</div>