{{{videoLink}}}
<div class='reset-confirm-container'>
    <div class='reset-confirm-container-center'>
        <div class='reset-confirm-label'>Generate new equations?</div>
        <div class='cancel-reset-button button'>Cancel</div>
        <div class='confirm-reset-button button'>Confirm</div>
    </div>
</div>
<div class='variable-select-container'>
    <div class='result'><div class='variable'>x</div> + <div class='variable'>x'</div></div>
    <div class='result'><div class='variable'>y</div> + <div class='variable'>y'</div></div>
    <div class='result'><div class='variable'>z</div> + <div class='variable'>z'</div></div>
    <div>Select the variable to use.</div>
</div>
<div class='modal-cover'>
    <div class='start-reset-buttons-container'>
        <button class='start-button button'>Start</button>
        <button class='reset-button button'>Try new equations</button>
    </div>
    <div id='difficultyContainer_{{id}}' class='difficulty-container'>
    </div>
<div class='middle-container'>
        <div class='center-container'>
            <div class='center-equations-container'>
                <div class='goal'></div>
                <div class='equation-container unselectable'></div>
                <div class='user-prompt'></div>
                <button class='ok-button button'>Ok</button>
            </div>
            <div class='bottom-button-container'>
                <button class='select-next-term-button button'>Select next term</button>
                <button class='apply-button button'>Apply</button>
                <button class='undo-button button'>Undo</button>
            </div>
        </div>
        <div class='sidebar'>
        </div>
    </div>
</div>
