{{!
    Render a question.
    @param {Question} question The question to render.
    @param {String} question.prompt The question's prompt.
    @param {String} question.inputPrefix A prefix for the input box.
    @param {String} question.inputPostfix A postfix for the input box.
    @param {String} question.placeholder Input box's placeholder.
}}
<div class='container'>
    <div>
        <div class='prompt'>{{{question.prompt}}}</div>
        {{{question.inputPrefix}}}
        <input type='text' placeholder='{{question.placeholder}}'></input>
        {{{question.inputPostfix}}}
    </div>
</div>
