<div class='timing-canvas-container'>
    <canvas height={{height}} width={{width}} class='timing-canvas'/>
</div>
<a class='download' download='timingDiagram.png'><button class='button'>Download as image</button></a>
<span class='signal-checkbox-span'><input type='checkbox' class='signal-checkbox'> show all signals</span>
<button class='close large-inverted-button'>Close</button>
<button class='button zoom-minus'>-</button>
<button class='button zoom-plus'>+</button>
