<div class='floorCeil'>
    <div class='instructions'>Fill in the integer</div>
    <div class='problem'>
        <div class='leftBar'></div>
        <div class='innerExpression'></div>
        <div class='rightBar'></div>
    </div>
    <span> = </span>
    <input maxlength="6" type="number">
</div>
