<div>Define the proposition in symbols using:</div>
<ul class='variables-list'></ul>
<div>
    Proposition in words:
    <span class='proposition-in-words'></span>
<div>
<div>
    Proposition in symbols:
    <span class='proposition-in-symbols'></span>
</div>