{{!
    Print a list of digital values in decimal. Ex: In base-2, digital values might be: 128, 64, ..., 1.
    @param {Array} digitDecimalValues List of decimal value for each digit. 
}}
{{#each digitDecimalValues}}
    <td colspan='2' class='digit-decimal-value'>{{this}}</td>
    <td></td>
{{/each}}