<div class='problem-definition'>
    <div class='function-map'>
        <span class='bold'>Z</span> → <span class='bold'>Z</span>: f(x) =
    </div>
    <div class='function'>
    </div>
</div>

<div class='main-block'>
    <div class='add-arrows'>
        <div class='instructions'><span class='bold'>A.</span> Select the element in f(x) that corresponds to the circled x.</div>

        <div class='sets'>
            <div class='arrows'></div>

            <div class='domain-label set-label'>x</div>
            <div class='domain set set-left'></div>
            <div class='range set set-right'></div>
            <div class='range-label set-label'>f(x)</div>
        </div>
    </div>
    <div class='buttons'>
        <button class='undo-button button disabled'>Undo</button>
    </div>
    <div class='divider'></div>
    <div class='function-properties'>
        <div class='instructions'><span class='bold'>B.</span> Select the properties that describe f(x).</div>
        <div class='onto'>
            <span class='x-mark'>&#x2716;</span>
            <img class='checkmark' src='{{checkmarkURL}}'></img>
            <div id='segmented-control-onto-{{id}}' class='true-or-false-segmented-control'></div>
        </div>
        <div class='one-to-one'>
            <span class='x-mark'>&#x2716;</span>
            <img class='checkmark' src='{{checkmarkURL}}'></img>
            <div id='segmented-control-one-to-one-{{id}}' class='true-or-false-segmented-control'></div>
        </div>
    </div>
</div>
