Try an identifier: <input id='identifier-validator-identifier{{id}}' size='35' type='text'/>

<button class='button' id='identifier-validator-validate{{id}}'>Validate</button>

<div id='identifier-validator-feedback{{id}}' class='identifier-feedback'>
	Awaiting your input...
</div>