<div class='tool-container'>
    <p class='instructions'></p>
    <div class='forms'>
        <select class='operation'>
            <option value='select'>SELECT</option>
            <option value='insert'>INSERT</option>
            <option value='delete'>DELETE</option>
        </select>

        <div class='insert-form'>
            <div class='label-and-input'>
                <span class='label'>ID</span>
                <input></input>
            </div>
            <div class='label-and-input'>
                <span class='label'>Name</span>
                <input></input>
            </div>
            <div class='label-and-input'>
                <span class='label'>Price</span>
                <input></input>
            </div>
            <span>;</span>
        </div>

        <div class='select-and-delete-form label-and-input'>
            <span class='label'>
                <select>
                    <option value='id'>ID</option>
                    <option value='name'>Name</option>
                    <option value='price'>Price</option>
                </select>
            </span>
            <input></input>
            <span>;</span>
        </div>
    </div>
    <div class='database-container table'></div>
</div>