<table>
    <tbody>
            <tr>
                <td>Expected:</td>
                <td>{{expectedOperation}}</td>
            </tr>
            <tr>
                <td>Yours:</td>
                <td>{{userOperation}}</td>
            </tr>
    </tbody>
</table>