<div id='constrain-portions-container-{{id}}'>
    <label>
        <input id='constrain-proportions-{{id}}' type='checkbox' class='constrain-proportion'></input>
        <span>Constrain proportions</span>
    </label>
</div>