<div class="tool-container">
	<div class="user-prompt"></div>	
	<div class="question-container">
		<div class="carry-bit-container">
			<button class="button carry-bit"></button>
			<button class="button carry-bit"></button>
			<button class="button carry-bit"></button>
			<button class="button carry-bit"></button>
			<div class="carry-bit-label">Carry bits</div>
		</div>
		<div class="question-bit-container first-num">
			<button class="button question-bit"></button>
			<button class="button question-bit"></button>
			<button class="button question-bit"></button>
			<button class="button question-bit"></button>
			<div class="question-bit-label">4-bit number</div>
		</div>
		<br/>
		<div class="plus">+</div><div class="question-bit-container second-num">
			<button class="button question-bit"></button>
			<button class="button question-bit"></button>
			<button class="button question-bit"></button>
			<button class="button question-bit"></button>
			<div class="question-bit-label">4-bit number</div>
		</div>
	</div>
	<div class="addition-line"></div>
	<div class="answer-bit-container">
		<button class="button answer-bit"></button>
		<button class="button answer-bit"></button>
		<button class="button answer-bit"></button>
		<button class="button answer-bit"></button>
		<div class="answer-bit-label">Result number</div>
	</div>
</div>