{{!
    Prints a container for the caption.
    @param {String} caption The caption of the progression.
}}
<label>
    Caption:
    <input class='caption' type='text' placeholder='Add caption' value='{{caption}}'>
</label>
