{{!
    Edit the valus of an image element.
    @param {String} imageID The current image ID.
}}
<div class='image-edit-modal'>
    <label for='image-id'>
        Image ID:
        <input id='image-id' type='text' value='{{imageID}}' placeholder='Image ID' size="60">
    </label>
</div>
