{{!
    Render the editing area for a short answer element.
    @param {String} placeholder The placeholder of the input field.
}}
<div class='short-answer-modal'>
    <div class='correct-answers-container'>
        <h3>Correct answers</h3>
    </div>

    <div class='placeholder-container'>
        <h3>Placeholder</h3>
        <div class='zb-input-container value-present'>
            <input type='text' class='placeholder' placeholder='Ex: 5' value='{{placeholder}}'>
        </div>
    </div>
</div>
