{{!
    Render the editing area for a text element.
    @param {String} text The current text of the text element.
    @param {String} html The current text as HTML.
}}
<textarea placeholder='Enter text for this object'>{{text}}</textarea>
<h3>Preview</h3>
<div class='preview-text-object'>{{{html}}}</div>
