{{!
    Print the inspector area.
    @param {Boolean} hasMultipleSelected Whether the inspector has been assigned multiple elements.
}}
<div class='inspector'>
    {{#if hasMultipleSelected}}
        <div>Multiple objects selected.</div>
    {{/if}}
</div>
