{{!
    The modal when user wants to begin a new progression.
}}
<p>You will lose any unsaved changes.</p>
<div>
    <label>
        <input type='checkbox' name='remove-global-code' checked>
        Remove global code
    </label>
</div>
<div>
    <label>
        <input type='checkbox' name='remove-all-objects' checked>
        Remove all objects
    </label>
</div>

<div>
    <label>
        <input type='checkbox' name='remove-all-questions-and-levels' checked>
        Remove all questions and levels
    </label>

    <div class='sub-checkboxes'>
        <div>
            <label>
                <input type='checkbox' name='remove-all-level-code' checked disabled>
                Remove all level code
            </label>
        </div>

        <div>
            <label>
                <input type='checkbox' name='remove-all-question-code' checked disabled>
                Remove all question code
            </label>
        </div>

        <div>
            <label>
                <input type='checkbox' name='remove-all-explanations' checked disabled>
                Remove all explanations
            </label>
        </div>
    </div>
</div>