{{!
    Render the options order method.
}}
<div class='radio-buttons-container'>
    <div>Options order method</div>
    <div>
        <input id='sort-order' type='radio' name='options-order-method' value='sort' />
        <label for='sort-order'>Sorted</label>
    </div>
    <div>
        <input id='reverse-sort-order' type='radio' name='options-order-method' value='reverse-sort' />
        <label for='reverse-sort-order'>Reverse sorted</label>
    </div>
</div>
