<div class='test-vector'>
    <div class='icon'>
        <span class='x-mark'>&#x2716;</span>
    </div>
    <div class='hint'>{{errorMessage}}</div>
    <div class='hint no-cursor newline-margin-top'>Tests aborted.</div>
</div>