<div class="inequality"></div>

<div class="answer">
    <!--User conrolled-->
    <div class="slider-container">
        <div class="slider"></div>
        <div class="number-line-bar"></div>
        <div class="number-line-arrow-left"></div>
        <div class="number-line-arrow-right"></div>
        <div class="arrow-left-graphic"></div>
        <div class="arrow-right-graphic"></div>
    </div>
    
    <!--Displaying correct answer-->
    <div class="answer-slider-container">
        <div class="slider answer-slider"></div>
        <div class="answer-arrow-left-graphic"></div>
        <div class="answer-arrow-right-graphic"></div>
    </div>

    <div class="settings">
        <span class="label">Arrow</span>
        <ul class="segmented-control">
            <li class="segment-item">
                <span class="segment-button arrow-left">Left</span>
            </li>
            <li class="segment-item">
                <span class="segment-button arrow-none">None</span>
            </li>
            <li class="segment-item">
                <span class="segment-button arrow-right">Right</span>
            </li>
        </ul>

        <span class="label">Circle</span>
        <ul class="segmented-control">
            <li class="segment-item">
                <span class="segment-button circle-filled">Filled</span>
            </li>
            <li class="segment-item">
                <span class="segment-button circle-unfilled">Unfilled</span>
            </li>
        </ul>
    </div>
</div>
