<div class='instructions'>Use the sliders to change the values of <span class='m-label'>m</span> or <span  class='b-label'>b</span>.</div>
<div class='equation-container'>
    <div class='function-y'><pre class='operator-spacing'>y  =   </pre><span class='m-label'>m</span><pre class='operator-spacing'>x  +  </pre><span class='b-label'>b</span></div>
    <div class='function-y'><pre class='operator-spacing'>y  =</pre><div class='m-label m-value'>1</div><pre class='operator-spacing'>x  +</pre><div class='b-label b-value'>0</div></div>

    <div class='slider-container'>
        <div class='slider-label m-label'>m:</div>
        <div class='variable-m-slider'></div>
        <div class='slider-label b-label'>b:</div>
        <div class='variable-b-slider'></div>
    </div>
</div>

<div class='canvases'>
    <canvas class='canvas graph-canvas' height='400' width='400'></canvas>
    <canvas class='canvas line-canvas' height='400' width='400'></canvas>
    <canvas class='canvas slope-canvas' height='400' width='400'></canvas>
</div>
