<div class='center-contents-container'>
    <div id='segmented-control-container-{{id}}'></div>
    <div class='song-container'></div>
    <div class='microphone-container'></div>

    <div class='attribution' xmlns:cc='http://creativecommons.org/ns#' xmlns:dct='http://purl.org/dc/terms/' about='http://www.wavesurfer.fm/example/microphone/'><span property='dct:title'>Uses wavesurfer.js</span> (<a target='_blank' rel='cc:attributionURL' property='cc:attributionName' href='https://github.com/katspaugh/wavesurfer.js'>katspaugh</a>) / <a target='_blank' rel='license' href='http://creativecommons.org/licenses/by/3.0/'>CC BY 3.0</a></div>
</div>