<div><a id='video-link-{{id}}' target='_blank' href='https://youtu.be/tlCz_vb3D2U'>Video of audio to waveform.</a></div>
<div class='note'>
    <div>Note: Your browser does not support microphone/audio access. Watching the video completes the activity.</div>
    <div>You may try using a browser with support, such as Chrome or Firefox. <a target='_blank' href='https://whatbrowser.org/'>Find out more about browsers.</a></div>
</div>