<div class='waveform-error-message microphone-source-no-volume'>
    <div>Your microphone is not working or is hardware-muted.</div>
    <div>Perhaps use Song mode instead.</div>
</div>
<div id='microphone-waveform-{{id}}' class='waveform-container'></div>
<button class='button microphone-button'><span class='button-text microphone-button-status'></span> microphone</button>
<div class='microphone-status'></div>