<div class='waveform-error-message song-error'>
    <div>Your browser does not support WAV audio files.</div>
    <div>Perhaps try Chrome or Firefox.</div>
    <div><a target='_blank' href='https://whatbrowser.org/'>Find out more about browsers.</a></div>
</div>
<div id='song-waveform-{{id}}' class='waveform-container'>
    <div id='spinner-{{id}}'></div>
</div>
<button class='button song-button'><span class='button-text song-button-status'></span> song</button>