<table class='binary-hex-table'>
    <colgroup>
        <col>
        <col>
        <col>
        <col>
    </colgroup>
    <tr>
        <th>dec</th>
        <th>bin</th>
        <th>hex</th>
        <th></th>
    </tr>
    {{#range numberOfBinaryNumbers}}
        <tr>
            <td class='decimal'></td>
            <td class='binary'></td>
            <td class='hexadecimal'></td>
            <td class='answer'></td>
        </tr>
    {{/range}}
</table>