{{!
    Print the files with the solution, and explanation.
    @param {String} level The current level.
}}
<p>Prompt: {{level.prompt}}</p>
<p>Program:</p>
<pre>{{level.accessible}}</pre>

<p>Explanation: {{level.explanation}}</p>
