<div class='expression-area'>
    <table class=''>
        <tr>
            <td></td>
            <td><input class='quotient' type='text' size='3' maxlength='3'></input></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class='divisor-polynomial'>
                <span class='divisor-x-coefficient'></span><!--
                -->x<!--
                --><sup><span class='divisor-x-exponent'></span></sup><!--
                --><span class='plus-sign'>+</span><!--
                --><span class='divisor-constant'></span>
            </td>
            <td class='text-align-right dividend-first-term dividend-term'>
                <span class='dividend-x-coefficient'></span><!--
                -->x<!--
                --><sup><span class='dividend-x-exponent'></span></sup>
            </td>
            <td class='dividend-term'><span class='plus-sign'>+</span></td>
            <td class='dividend-term text-align-right'><span class='dividend-constant'></span></td>
        </tr>
        <tr class='subtraction-polynomial'>
            <td><div class='subtraction-symbol'>-</div></td>
            <td class='text-align-right subtraction-term'>
                <span class='subtraction-x-coefficient'></span><!--
                -->x<!--
                --><sup><span class='subtraction-x-exponent'></span></sup>
            </td>
            <td class='subtraction-term'><span class='plus-sign'>+</span></td>
            <td class='text-align-right subtraction-term'><span class='subtraction-constant'></span></td>
        </tr>
        <tr class='remainder-polynomial'>
            <td></td>
            <td class='text-align-right'>
                <span class='remainder-x-coefficient'></span><!--
                -->x<!--
                --><sup><span class='remainder-x-exponent'></span></sup></td>
            <td><span class='plus-sign'>+</span></td>
            <td class='text-align-right'><span class='remainder-constant'></span></td>
        </tr>
    </table>
</div>