{{!
    The basic format of the question area.
    @param {String} expressionAreaWidth The width of the expression area.
}}
<div class='prompt'></div>
<div class='work-area'>
    <div class='expression-area-container' style='min-width: {{expressionAreaWidth}};'></div>
    <div class='laws-area-container'></div>
</div>