{{!
    Progression question contains a prompt and the development environment.
    
    * Inputs:
        * |developmentEnvironmentID| is required and a string.
}}
<p class='question-stem'></p>
<div id='{{developmentEnvironmentID}}'></div>