{{!
    Render a question in accesssible mode.
    @param {Question} question The question to render.
    @param {String} solutionInstructions One solution for the given progression question.
}}
<p>{{{question.questionStem}}}</p>
<p>One solution is:</p>
<pre>{{solutionInstructions}}</pre>