<div class='center-container'>
    <div class='given-sets'>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class='problem-container'>
    <div class='problem'></div>
    = { <input type='text' placeholder='Ex: 3, 6'> }
</div>
