<table class='basic-output-sim-table'>
    <tbody>
        <tr>
            <td>
                <div class='basic-output-sim-code'>
                    <pre><span id='codeBeforeInput{{id}}'></span><input id='{{id}}-basicOutputSim-input' type='text' class='textfield' spellcheck='false' value='&quot;Change this string!&quot;' maxlength='100' size='55'><span id='codeAfterInput{{id}}'></span></pre>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id='{{id}}-basicOutputSim-output' class='console'>Change this string!</div>
                <div class='error-message'></div>
            </td>
        </tr>
    </tbody>
</table>
