{{! Generate sqrt(b^2 - 4ac) used for an explanation. }}

<span class='explanation'><!--
    --><span class="radical">&radic;</span><!--
    --><span class="inside-radical explanation"><!--
        -->b<sup>2</sup> &#8211; 4ac<!--
    --></span><!--
--></span>