{{!
    Renders queries names, and prepares for the tables to be rendered.
    @param {Integer} numberOfQueries The number of queries in the SQL code.
}}
<div class='queries-container'>
    <div>
        <div>
            <h3>Queries ({{numberOfQueries}})</h3>
        </div>
        <div id='query-output' class='table'></div>
    </div>
</div>
