<table>
    <tbody>
        <tr>
            <th>Code:</th>
            <td>
                <div class="code" style="padding: 30px 12px 30px 12px">rowEx <span style="color:#808030; ">=</span> <span style="color:#808030; ">[</span><span style="color:#008c00; ">0</span><span style="color:#808030; ">,</span> <span style="color:#008c00; ">1</span><span style="color:#808030; ">,</span> <span style="color:#008c00; ">2</span><span style="color:#808030; ">,</span> <span style="color:#008c00; ">3</span><span style="color:#808030; ">,</span> <span style="color:#008c00; ">5</span><span style="color:#808030; ">,</span> <span style="color:#008c00; ">7</span><span style="color:#808030; ">,</span> <span style="color:#008c00; ">11</span><span style="color:#808030; ">,</span> <span style="color:#008c00; ">13</span><span style="color:#808030; ">,</span> <span style="color:#008c00; ">17</span><span style="color:#808030; ">,</span> <span style="color:#008c00; ">19</span><span style="color:#808030; ">]</span><span style="color:#800080; ">;</span><br/>smallRow = rowEx<span style="color:#808030; ">(</span> <input type="text" value="2" maxlength="2" size="2"/> <span style="color:#800080; ">:</span><input type="text" value="3" maxlength="2" size="2"/> <span style="color:#800080; ">:</span><input type="text" value="4" maxlength="2" size="2"/> <span style="color:#808030; ">)</span><span style="color:#800080; ">;</span></div>
            </td>
        </tr>
        <tr>
            <th>Output:</th>
            <td>
                <div id="output-{{id}}" class="console">Awaiting your input...</div>
            </td>
        </tr>
        <tr>
            <td>
                <button id="run-code-{{id}}" class="button">Run</button>
            </td>
        </tr>
    </tbody>
</table>