<p id='instructions-{{id}}'></p>
<div class='expected-output-container'>
    <div id='example-output-{{id}}' class='console sample-output'></div>
</div>
<div class='code-input'>
    <span class='code-before-input'></span>
    <input type='text'>
    <span class='code-after-input'></span>
</div>