<div class='expression-area'>
    <table>
        <tr>
            <td>
                <div class='reduced-expression-with-fractional-exponent'>
                    <span class='fraction-exponent'></span>
                    <span class='radical'>&radic;</span>
                    <div class='inside-radical'>
                        <span class='x-variable-constant-1'></span><!--
                        -->x<!--
                        --><sup><span class='x-variable-exponent-1'></span></sup><!--
                        -->y<!--
                        --><sup><span class='y-variable-exponent-1'></span></sup>
                    </div>
                </div>
                <div class='unreduced-expression-with-fractional-exponent'>
                    <span class='fraction-exponent'></span>
                    <span class='radical'>&radic;</span>
                    <div class='inside-radical'>
                        <div class='numerator'><!--
                            -->(<!--
                            --><span class='x-variable-constant-1'></span><!--
                            -->x<!--
                            --><sup><span class='x-variable-exponent-1'></span></sup><!--
                            --><span class='y-variable-constant-1'></span><!--
                            -->y<!--
                            --><sup><span class='y-variable-exponent-1'></span></sup><!--
                            -->)<!--
                        --></div><!--
                        --><div><!--
                            -->(<!--
                            --><span class='x-variable-constant-2'></span><!--
                            -->x<!--
                            --><sup><span class='x-variable-exponent-2'></span></sup><!--
                            --><span class='y-variable-constant-2'></span><!--
                            -->y<!--
                            --><sup><span class='y-variable-exponent-2'></span></sup><!--
                            -->)<!--
                        --></div>
                    </div>
                </div>
            </td>
            <td class='equal-sign'>=</td>
            <td>
                <div class='final-answer-fully-reduced'>
                    <input class='constant' type='text' size='3' maxlength='3'></input><!--
                    -->x<!--
                    --><div class='superscript-input'><input class='x-term-exponent' type='text' size='3' maxlength='3'></input></div><!--
                    -->y<!--
                    --><div class='superscript-input'><input class='y-term-exponent' type='text' size='3' maxlength='3'></input></div>
                </div>
                <div class='final-answer-with-fractional-exponent'>
                    <span class='fraction-exponent'></span>
                    <span class='radical'>&radic;</span>
                    <sdiv class='inside-radical'>
                        <input class='constant' type='text' size='3' maxlength='3'></input><!--
                        -->x<!--
                        --><div class='superscript-input'><input class='x-term-exponent' type='text' size='3' maxlength='3'></input></div><!--
                        -->y<!--
                        --><div class='superscript-input'><input class='y-term-exponent' type='text' size='3' maxlength='3'></input></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>