{{!
    Render the zyFlowchart authoring tool.
    @param {String} id The unique id for this module.
}}
<div id='editor-{{id}}' class='code-editor'></div>
<button class='button'>Render</button>
<div class='executor-container'>Enter zyFlowchart code above, then click Render.</div>