<pre class='hdl-skeleton-code'><!--
---><span class='hdl-colorize'>module</span> CombinationalLogicExample(a, b, c, z);
    <span class='hdl-colorize'>input</span> a, b, c;
    <span class='hdl-colorize'>output</span> reg z;
    <span class='hdl-colorize'>always</span> @(a, b, c) <span class='hdl-colorize'>begin</span>
        z = </pre>
<textarea class='hdl-combinational-logic-input' rows='1' cols='40'>a & b & c</textarea><span class='hdl-semicolon-end'>;</span>
<pre class='hdl-skeleton-code-chunk'>
    <span class='hdl-colorize'>end</span>
<!--><span class='hdl-colorize'>endmodule</span>
</pre>