<pre class='hdl-skeleton-code'><!--
---><span class='hdl-colorize'>library</span> IEEE;
<!--><span class='hdl-colorize'>use</span> IEEE.STD_LOGIC_1164.ALL;
<!--><span class='hdl-colorize'>entity</span> CombinationalLogicExample <span class='hdl-colorize'>is</span>
     <span class='hdl-colorize'>port</span>(a, b, c : <span class='hdl-colorize'>in</span> std_logic;
          z : <span class='hdl-colorize'>out</span> std_logic);
<!--><span class='hdl-colorize'>end</span> CombinationalLogicExample;

<!--><span class='hdl-colorize'>architecture</span> Behavior <span class='hdl-colorize'>of</span> CombinationalLogicExample <span class='hdl-colorize'>is</span>
<!--><span class='hdl-colorize'>begin</span>
     <span class='hdl-colorize'>process</span>(a, b, c) <span class='hdl-colorize'>begin</span>
          z <= </pre>
<!--><textarea class='hdl-combinational-logic-input' rows='1' cols='40'>a and b and c</textarea><span class='hdl-semicolon-end'>;</span>
<!--><pre class='hdl-skeleton-code-chunk'>
<!-->     <span class='hdl-colorize'>end process</span>;
<!--><span class='hdl-colorize'>end</span> Behavior;
<!--></pre>