<div class='equation-area'>
    <div class='instructions'>
        <span class='main-instruction'>Fill in a, b, and c.</span>
        <br/>
        <span class='sub-instruction'><i>a</i> should be positive.</span>
        <br/>
        <span class='sub-instruction'><i>a</i>, <i>b</i>, and <i>c</i> should be reduced.</span>
    </div>
    <div class='equation starter-equation'></div>
    <div class='equation'>
        <input type='number' class='user-input a-value' placeholder='a' min='-99' max='99' disabled/><!--
        -->x<sup>2</sup> + <!--
        --><input type='number' class='user-input b-value' placeholder='b' min='-99' max='99' disabled/><!--
        -->x + <!--
        --><input type='number' class='user-input c-value' placeholder='c' min='-99' max='99' disabled/><!--
        --> = 0
    </div>
</div>