<div class='user-interface-container'>
    <div class='instructions'>
        <div class='intercept-prompt'></div>
        <div id='instructions-{{id}}' class='linear-function-instruction'></div>
    </div>
    <div class='intercept-container'>
        <span id='intercept-label-{{id}}'></span>
        <input id='intercept-{{id}}' class='intercept' type='text' maxlength='3'>
    </div>
</div>