<div class='state1-self-condition'>!A{{inputBit}}</div>
<div class='state1-action'>B = 0;</div>
<div class='state1-transition'>A{{inputBit}}</div>
<div class='state2-self-condition'>A{{inputBit}}</div>
<div class='state2-action'>B = (A & 0xF0) >> 4;</div>
<div class='state2-transition'>!A{{inputBit}}</div>
